.arts-items {
    
    max-width: 580px;
    width: 100%;
    margin: 100px auto;
    /* padding-top: 250px;
    padding-bottom: 200px; */
    position: relative;
  }
  
  .arts-item {
    width: 70%;
    border: 1px solid #00C9A7;
    border-radius: 37px;
    overflow: hidden;
    perspective: 100px;
    transition: transform 0.3s linear;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
  }
  
  .arts-item img {
    display: block;
    width: 100%;
    height: auto;
    object-fit: cover;
    margin: 0 auto;
  }
  
  .arts-item + .arts-item {
    margin-top: 30px;
  }